RWAPIMicroservicePython==3.0.0rc4
moto==4.1.14
requests_mock==1.11.0
coverage==7.0.5
Flask==2.2.5
httmock==1.4.0
hyp==0.6.0
marshmallow==2.15.1
pandas==1.5.1
cryptography==39.0.0
pyproj==3.4.1
requests==2.28.2
shapely==2.0.0
